# i.e. CDP_API_KEY=organizations/[ORGANIZATION NAME]/apiKeys/[API KEY]
CDP_API_KEY=
# i.e. CDP_API_KEY_PRIVATE_KEY=----BEGIN EC PRIVATE KEY-----\n[PRIVATE KEY]\n-----END EC PRIVATE KEY-----\n
CDP_API_KEY_PRIVATE_KEY=
